<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD9uCW_xQ4C-Zl4JR5I79SZSZczXqPYH-k</string>
	<key>GCM_SENDER_ID</key>
	<string>75356560459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alexandrie.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>alexandrie-694d2</string>
	<key>STORAGE_BUCKET</key>
	<string>alexandrie-694d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75356560459:ios:1537eceb4e100c2d0681ce</string>
</dict>
</plist>